*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./pexels-fotografierende-3235566.jpg);
    background-size: cover;
    /* background-position: center; */
    
    font-family: sans-serif;
}

.menu{
    background-color: cadetblue;
    text-align: center;
}
.menu ul{
     display: inline-flex;
     list-style: none;
     color: whitesmoke;
 }

.menu ul li{
    text-transform: capitalize;
    width: 116px;
    margin: 8px;
    padding: 8px;
}

.menu ul li .contact_us{
    width: 170px;
}

.menu ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.active, .menu ul li:hover{
    background-color: yellowgreen;
    border-radius: 4px;
}